
/* Leave application css */
/* .leave-application-box{
  padding: 20px;
  background-color: gray;
} */

.form-box{
    padding: 20px;
  }
  /* Style the buttons that are used to open and close the accordion panel */
  #button {
    background-color: #eee;
    color: #000;
    cursor: pointer;
    border:1px solid blue;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, #button:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  #showmehideme {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  #mydiv { background-color: #ddd; }